* { margin:0; padding:0; }
button {
    padding: 8px 16px;
}

pre {
    overflow-x: hidden;
    overflow-y: auto;
}

video {
    width:100%;
}

#video {
    width:100%;
    height: 100%;
}
#options {
    position: fixed;
    top:0;
    display: none;
}
#controls {
    position: fixed;
    bottom:0;
    width:100%;
    height: 50px;
    background:rgba(0, 0, 0, 0.4);
    color:white;
    padding:20px;
}
#debug {
    position: fixed;
    top:0;
    width:100%;
    height:15%;
    overflow: auto;
    background:rgba(0, 0, 0, 0.4);
    color:white;
    font-size:0.8em;
}
#debug #rtc-logs { height:50%; overflow: auto;padding:10px; }
#debug #data-channel { padding:10px; }
.option { display: none; }

.state-button {
    width:150px;
    height:50px;
    border-radius: 30px;
    background-color:white;
    border:2px solid gray;
    font-weight: bold;
    text-transform: uppercase;
    font-size:1em;
    cursor:pointer;
}
#latency { display: inline-block; }
.status { display: inline-block; }
.pin { width:10px;height:10px;border-radius: 10px;display:inline-block;margin:0 10px; }